<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main style="box-sizing: border-box; border: thin solid black; font-family: sans-serif; padding: 3rem 0.5rem; max-width: 110ch; margin: 0 auto;">
    <h1>Demo Fullstack Project&mdash;Cars 'R' Us</h1>
    <p>Check out the <a href="/swagger-ui/index.html">API documentation</a></p>
    <p>Check out the <a href="https://github.com/simongredal/cars-r-us/">code on GitHub</a></p>
    <br><br><br>
    <center>
        <small><small>Copyright Simon Gredal 2022</small></small><br>
        <small><small th:text="'Cars \'R\' Us built at ' + ${buildTime} + ' from commit ' + ${buildCommit}"></small></small>
    </center>
</main>
</body>
</html>
